sudo: false
language: cpp

compiler:
    - g++

before_install:
    - sudo add-apt-repository ppa:smspillaz/cmake-2.8.12 -y
    - sudo apt-get update -q
    - sudo apt-get install cmake -y

script:
    - cmake -G "Unix Makefiles" -B./build -H./
    - cmake --build ./build --target all
    
after_success:
    - $TRAVIS_BUILD_DIR/build/test/CodeTestCheck --reporter=spec
    - $TRAVIS_BUILD_DIR/build/app/CodeTestApp ../../res/sample.csv
